.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-logo {
  display: block;
  margin: 20% auto;
  height: 200px;
  width: 200px;
}

.navigateLinks{
  display: flex;
}
.navigateLinks a{
  margin-right: 5px;
}
.navigateLinks a:hover{
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
